
body{

    background-color: lightblue;
}
h2, h4{

    display: flex;
    text-align: center;
    flex-direction: column;  
}

.fimDeJogo{
    display: none;
    text-align: center;
}

/* section */

.hanoi{

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   height: 350px;
   width: 100%;
   position: relative;
   justify-items: center;
}
/* section */

/* tower */

.tower{

    position: relative;
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
    
}

.tower::after{

    content: ' ';
    display: block;
    position: absolute;
    width: 10px;
    height: 200px;
    background: #000;
    border-radius: 10px 10px 0 0;
}

/* tower */


/* disk */

.disk1{
    position: relative;
    background-color: red;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    z-index: 2;

}

.disk2{
    position: relative;
    background-color: green;
    height: 30px;
    width: 90px;
    border-radius: 15px;
    z-index: 2;

}
.disk3{
    position: relative;
    background-color: blue;
    height: 30px;
    width: 80px;
    border-radius: 15px;
    z-index: 2;

}
.disk4{
    position: relative;
    background-color: yellow;
    height: 30px;
    width: 70px;
    border-radius: 15px;
    z-index: 2;

}
.disk5{
    position: relative;
    background-color: gray;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    z-index: 2;

}
.disk6{
    position: relative;
    background-color: white;
    height: 30px;
    width: 50px;
    border-radius: 15px;
    z-index: 2;

}

/* disk */


/* dificuldade */

.dificuldade{
    display: flex;
    width: 60px;
    height: 20px;
    margin-top: 20%;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

/* dificuldade */


@media (min-width: 768px){

    .tower::after{

    width: 20px;

    }

    .disk1{
      
        height: 30px;
        width: 160px;
        
    
    }
    
    .disk2{
     
        height: 30px;
        width: 140px;
        
    }
    .disk3{
        
        height: 30px;
        width: 120px;
      
    }
    .disk4{
       
        height: 30px;
        width: 100px;
       
    }
    .disk5{
       
        height: 30px;
        width: 80px;
        
    }
    .disk6{
        
        height: 30px;
        width: 60px;
        
    }

}